:root {
  --background-color: 0, 0, 0;
  --background-opacity: 0.25;
  --backdrop-blur: 20px;
  --text-color: 255, 255, 255;
  --main-text-opacity: 1;
  --secondary-text-opacity: 0.5;
  font-size: 16px;
}

.LG {
  /* border-radius: 34px; */
  background: rgba(var(--background-color), var(--background-opacity));
  backdrop-filter: blur(var(--backdrop-blur));
}

.small,
small {
  color: rgba(var(--text-color), var(--secondary-text-opacity));
  font-family: "Space Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.normal,
p {
  color: rgba(var(--text-color), var(--main-text-opacity));
  font-family: "Space Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quote {
  color: rgba(var(--text-color), var(--main-text-opacity));
  font-family: "Space Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.w86 {
  display: inline-block;
  width: 86px;
  flex-shrink: 0;
}
